<div class="col s4">
    <div class="card">
        <div class="card-image">
            {% if event.image %}
                <img src="{{ event.image }}" alt="image {{ event.name }}">
            {% else %}
                <img src="https://picsum.photos/1920/1080" alt="random image">
            {% endif %}
            <span class="card-title">{{ event.name }}
                         <div class="collection">
                            <a href="#!" class="collection-item"><span class="badge">{{ event.placeNumber }}</span>Place</a>
                          </div>
                        </span>
            <a class="btn-floating halfway-fab waves-effect waves-light btn red modal-trigger" href="#modal1">
                <i class="material-icons">add</i>
            </a>
            <a class="btn halfway-fab waves-effect waves-light red" href="{{ path('event_show', {'event': event.id}) }}">Article</a>
            <a class="btn halfway-fab waves-effect waves-light red" href="{{ path('event_delete', {'event': event.id}) }}" onclick="M.toast({html: 'Message supprimé'}); ">delete</a>
            <a class="btn halfway-fab waves-effect waves-light red" href="{{ path('event_update', {'event': event.id}) }}">edit</a>


        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>{{ event.name }}</h4>
                <p>{{ event.description }}</p>
                <p>{{ event.startedAt | date('d/m/Y') }} - {{ event.endedAt | date('d/m/Y')}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <div class="card-content">
            {{ event.startedAt | date('d/m/Y') }} - {{ event.endedAt | date('d/m/Y')}}
        </div>
        <script> M.AutoInit();</script>
    </div>
</div>
